# Ignore compiled files
**/*.wasm
**/*.musl
**/*.o

# Ignore some specific files
blackscholes
fluidanimate
swaptions
rust-toolchain
**/main*
**/Cargo.lock

# Ignore build directories
**/build/
**/target/

# Ignore ersult files
**/*.txt

**/*.csv.line
**/*.json
**/*.png

# Ignore logs
**/*.log
